@media screen and (max-width: 767px)
  #header .logo i, #header .primary-menu ul, #header .search-box, #header .social-profiles, #header p, .author-a, .header-fixed #header .primary-menu, .ico-eye, .ico-like, .navigation .dots, .navigation a, .pic-posts-box a .title .post-views, .posttime-a, .sidebar, .one-s-footer .link, .ico-cat, .ico-like, .ico-eye, .su-dropdown .J_showAllShareBtn, .warp-post-embed .embed-content p, .posts-default-content p, .posts-gallery-content p, #commentform .form-submit button, .collapse, .paydropdown, .socialdropdown .su-dropbox a span, .posts-cjtz
      display: none
head
.container
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto

.content
  position: relative
  overflow: hidden
  display: block
  margin-bottom: 20px
  background: #FFF
  -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)
  -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)
  box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)
  -webkit-transition: all 0.6s ease
  -moz-transition: all 0.6s ease
  -o-transition: all 0.6s ease
  transition: all 0.6s ease


.page-content
  padding 100px 0 20px 0

.page-content-items
    position: relative
    min-height: 500px
    margin: 50px 0
    padding: 60px 48px
    background: #fff
    -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)
    -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)

@media screen and (max-width: 767px)
  header 
    .logo
      text-align: center
      letter-spacing: 0
      position: relative
      margin: 0 auto
      height: 66px
      line-height: 66px
      float: none
      padding: 0
      a
        display inline-block
        width 150px
        height 66px
        background-position center


// 详情页
.post
  padding: 50px 38px
  min-height: 500px
  background: #fff
  margin-bottom: 20px
  -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)
  -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)
  box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1)

.post-title
  position: relative
  margin: 0 0 35px
  padding: 0 0 35px
  border-bottom: 1px solid #e7e7e7
  .title
    position: relative
    font-size: 26px
    display: block
    letter-spacing: 2px
    font-weight: 600
    margin: 30px 0 35px

.post-content
  margin: 0 0 20px 0
  line-height: 1.8
  font-size: 16px
  color: #3d464d

.post-options
  padding: 30px 0 35px
  position: relative

// list列表
.post-nav 
  span.current
  span:hover
    background: #282828
    color: #FFF
    // border: 1px solid #282828

.posts-default
  .content-box
    padding: 23px 20px

.posts-default-content
  position: relative
  line-height: normal

.posts-default-box
  padding: 22px 0 0

.posts-default-title
  position: relative
  margin: 0 0 10px

.posts-default-img 
  position: relative
  overflow: hidden
  max-height: 300px
  height: auto
  width: 100%

.posts-default-img a
  position: relative
  display: block
.posts-default-img
  .overlay
    opacity: 0
  .overlay:hover
    opacity: 0.5

.posts-default-info
  position: relative
  ul
    li
      font-size: 12px
      letter-spacing: .2px
      padding: 0
      margin: 0 5px 0 0
      color: #748594
      position: relative
      line-height: 1.5
      display: inline-block

.overlay
  width: 100%
  height: 100%
  background: #000
  -webkit-transition: opacity .4s ease-in-out
  transition: opacity .4s ease-in-out
  position: absolute
  opacity: .5
.thumbnail
  border: 0
  padding: 0
  border-radius: 0
  margin: 0
.pull-right
  float right!important


@media (min-width: 1200px)
  .container
    width 1170px
@media (max-width: 767px)
  .container
    margin-top 0
    padding 0
    width auto
  .primary-menu
    display none

.post-nav
  .cat-post
    padding: 9px 22px
    margin-right: 15px
    margin-bottom: 10px
    cursor: pointer
    background: #FFF
    display: inline-block
    border-radius: 30px
    font-weight: 600

@media screen and (max-width: 767px)
  .post-nav
    position: relative
    margin-bottom: 0
    box-shadow: none
    background: #FFF
    height: 45px
    overflow: hidden
    overflow-x: auto
    white-space: nowrap
    width: 100%
    -webkit-box-pack: justify
    .cat-post
      position: relative
      padding: 0
      height: 45px
      line-height: 45px
      font-size: 14px
      border-radius: 0
      box-shadow: none
      margin: 0 5px 0 12px
      color: #748594
      border-width: 0
footer
  width 100%
  position relative

.to-top
  display: none
  color: #fff
  background-color: #282828
  display: inline-block
  height: 50px
  width: 50px
  line-height: 50px
  text-align: center
  border-radius: 2px
  z-index: 101

#ajax-load-posts
  text-align: center
  padding: 20px 0
  button
    cursor: pointer
    width: 150px
    background: #00a7eb
    border-radius: 2px
    font-size: 16px
    color: #fff
    height: 46px
    line-height: 46px
    display: inline-block
    margin: 0 8px
    -moz-transition: all .3s ease-in-out
    -webkit-transition: all .3s ease-in-out
    transition: all .3s ease-in-out
    line-height: 0
  button:hover
    background: #282828